root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.sh]
indent_style = space
indent_size = 2
shell_variant = bash
binary_next_line = true
switch_case_indent = true
space_redirects = true
keep_padding = false
function_next_line = false

[*.bats]
indent_style = space
indent_size = 2
shell_variant = bats

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[Makefile]
indent_style = tab
